/****** Object:  StoredProcedure [dbo].[uspGetDoctorsForSpeciality]    Script Date: 01/09/2008 06:36:21 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[uspGetDoctorsForSpeciality]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[uspGetDoctorsForSpeciality]
GO
/****** Object:  StoredProcedure [dbo].[uspGetDoctorsForSpeciality]    Script Date: 01/09/2008 06:36:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[uspGetDoctorsForSpeciality]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE uspGetDoctorsForSpeciality
	(
	@speciality NVARCHAR(30),
	@doctorCount INT OUTPUT
	)
AS

	SET NOCOUNT ON

	SELECT @doctorCount = COUNT(*) 
	FROM Doctors 
	WHERE Speciality = @speciality
	
	DECLARE @specialityCount INT
	SELECT @specialityCount = COUNT(DISTINCT Speciality)
	FROM DOCTORS
	
	SELECT DoctorID, FirstName, LastName, Speciality
	FROM DOCTORS
	WHERE Speciality = @speciality
	
	RETURN @specialityCount
' 
END
GO
